body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(37, 163, 163);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container{
    background-color: #59f373;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

input{
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f54804e8;
    border-radius: 8px;
}

button{
    padding: 7px;
    margin: 4px;
    cursor: pointer;
    background-color: rgb(18, 227, 235);
    color: #0e0d0d;
    border-radius: 5px;
}
button:hover{
    background-color: #143ae4;
    color: #f4f4f4;
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
li button{
    background-color: #549401;
    border: none;
    color: #f4f4f4;
    padding: 6px 12px;
    border-radius: 8px;
    margin: 0;
}

li button:hover{
    background-color: #ff5101;
}
.edit-buttom{
    background-color: #23da32;
    margin-left: 5px;
}

.edit-buttom:hover{
    background-color: #af964c;
}

